@import 'vendor/foundation';
//sass --watch scss/styles.scss:css/styles.css --sourcemap

ul {
    margin-left: 0;
    list-style: none;
}

body {
    padding-top: 50px;
}

.ng-hide {
    display: none !important;
}

.logo {

}

.form_checkbox,
.form_radio {
    margin-left: 10px;
    input {
        margin-right: 10px;
    }
}

.left_column {
    padding-top: 40px;
}

.form_number {
    font-size: inherit;
}

.input_number {
    font-family: inherit;
}

.form_submit {
    padding-top: 13px;
    padding-bottom: 14px;
    z-index: 100;
}

.fixed_button {
    width: 220px;
    height: 40px;
    margin-top: -40px;
}
